---
import Layout from "../layouts/About.astro";
---

<Layout
	title="About Me"
	description="A programmer looking for ways to see the forest instead of the trees."
	heroImage="/about-background.jpg"
	profileImage="/about-profile.jpg"
>
	<p>
		Hi, I'm Matthew Doig. I am currently a Software Engineering Manager at
		SAICinc, based in Washington, DC. I am a programmer looking for ways to
		see the forest instead of the trees.
	</p>

	<p>
		My technical interests revolve around <strong>Agents</strong>, <strong
			>Effect Systems</strong
		>, <strong>Design Systems</strong> and <strong
			>Malleable Software</strong
		>. Take a look at my <a href="/musings">blog</a> for musings on these and
		other topics.
	</p>

	<p>You can find me online across the web:</p>
	<ul>
		<li>
			<a
				href="https://x.com/dogwith1eye"
				target="_blank"
				rel="noopener noreferrer">Twitter / X (@dogwith1eye)</a
			>
		</li>
		<li>
			<a
				href="https://github.com/dogwith1eye"
				target="_blank"
				rel="noopener noreferrer">GitHub (@dogwith1eye)</a
			>
		</li>
		<li>
			<a
				href="https://medium.com/@dogwith1eye"
				target="_blank"
				rel="noopener noreferrer">Medium (@dogwith1eye)</a
			>
		</li>
	</ul>
</Layout>
