---
const today = new Date();
---

<footer>
	<span>&copy; {today.getFullYear()} dogwith1eye. All rights reserved.</span>
</footer>
<style>
	footer {
		padding: 1.5rem 1rem;
		background: var(--background);
		border-top: 1px solid var(--border);
		color: var(--muted-foreground);
		font-size: 12px;
		text-align: center;
	}
</style>
