---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		padding: 0 12px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
		color: var(--muted-foreground);
	}
	a:hover {
		color: var(--foreground);
	}
	a.active {
		color: var(--foreground);
	}
</style>
